/*footer styles */
.investor-footer {
  background-color: #041f3e;
}
.investor-footer a {
  color: white;
}

.investor-footer ul.address {
  display: flex;
  flex-wrap: nowrap !important;
}

.investor-footer ul.nav li {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.investor-footer ul.social-footer-icons > * + * {
  padding-left: 1em;
}

.investor-footer ul.bye li {
  padding-top: 0;
  padding-right: 0;
}

.investor-footer ul.bye > * + * {
  padding-left: 1.5em;
}

@media screen and (max-width: 768px) {
  .investor-footer div.bye {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .investor-footer ul.bye {
    flex-direction: column;
    text-align: center;
    order: -1;
  }

  .investor-footer ul.bye li {
    padding-left: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}

.investor-footer .credits-container {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 768px) {
  .investor-footer .social-footer-icons-container {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }
  .investor-footer .whyn {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    width: 100%;
  }
}
