.account {
  padding-top: 70px;
  .phone-input {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #e2ffea;
    width: 100%;
    height: 45px;
    padding: 0 10px;
    margin-bottom: 5px;
    border-radius: 25px;
    background-color: #e2ffea;
    color: #101010 !important;
    input {
      width: 100%;
      padding-left: 20px;
    }
    p {
      display: flex;
      align-items: center;
      width: 20%;
      padding-right: 20px;
      border-right: 1px solid #010101;
      height: 30px;
    }
    .text-normal {
      padding-left: 20px;
      width: 100%;
      border: unset;
    }
  }
  .input {
    border-color: #fff;
    background-color: unset;
    color: #fff;
    p {
      color: #fff;
      border-color: #fff;
    }
  }
}
