.dashboard {
  height: 100vh;
  width: 100vw;
  max-width: 500px;
  padding-top: 80px;
  position: relative;

  .tabs {
    width: 100%;
    display: flex;

    span {
      font-size: 18px;
      text-align: center;
      width: 50%;
      color: #909090;
      padding-bottom: 10px;
      border-bottom: 1px solid #414141;
      transition: all 0.2s ease-in-out;
    }

    .active {
      color: #ffffff;
      border-bottom: 2px solid $primary;
    }
  }

  .content {
    height: calc(100% - 40px);
  }

  .help {
    position: absolute;
    bottom: 40px;
    right: 40px;

    b {
      border: 2px solid $gray;
      padding: 0 5px;
      border-radius: 50%;
      height: 30px;
      width: 30px;
    }
  }
}

.borrow {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 30px 0;
  padding-bottom: 25%;

  .amount,
  .request {
    position: relative;
    border-radius: 20px;
    padding: 10px 15px;
    border: 2px solid $primary;
  }

  .clickable {
    &:hover {
      .text-gray {
        color: #ffffff;
      }

      background-color: #07E82C30;
    }
  }

  .active_state {
    background-color: #07E82C30;
  }

  .recommended {
    border-radius: 8px;
    color: #101010;
    position: absolute;
    top: -18px;
    left: 10px;
    background-color: $primary;
    padding: 5px 10px;
  }

  .btn-holder {
    margin-top: 30px;
  }
}

.plan {
  * {
    box-sizing: border-box;
  }

  .enter_amount {
    width: 100%;
    padding: 10px 20px;
    background-color: #1E1E1E;
    border-radius: 15px;
    display: flex;

    p,
    select {
      padding: 5px 10px;
      border-right: 1px solid $gray;
      margin-right: 20px;
      background-position-y: 10px;
    }

    input {
      width: 100%;
    }



    .no_border {
      border: unset;
      margin: unset;
      width: 100%;
    }
  }

  .back {
    position: absolute;
    top: 25px;
    display: flex;
    align-items: center;

    img {
      height: 15px;
      margin-right: 8px;
    }
  }

  .review {
    p {
      width: 100;
      display: flex;
      justify-content: space-between;

      b {
        font-weight: normal;
        color: #ffffff;
        text-transform: capitalize;
      }
    }
  }
}