.process {
  position: absolute;
  top: 0;
  left: -1px;
  height: 100%;

  width: calc(100% + 2px);
  z-index: 10;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  padding-top: 60px;
  background-color: $secondary;

  .back {
    position: absolute;
    top: 25px;
    display: flex;
    align-items: center;

    img {
      height: 15px;
      margin-right: 8px;
    }
  }

  .content {
    width: 100%;
    height: fit-content;

    padding: 10px 20px;
    border: 2px solid $primary;
    border-radius: 20px;

    .loan-amount {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      border-radius: 20px;
      background-color: #363636;
    }

    .slider {
      width: 100%;
      margin-top: 10px;

      .instruction {
        color: #7b7b7b;
        font-weight: 300;

        b {
          float: right;

          color: $primary;
        }
      }

      .range-amount {
        text-align: right;
        font-size: 10px !important;
        color: #696868;

        b {
          font-size: 12px;
          color: $primary;
        }
      }

      .css-yxquu9-Slider {
        // background-image: url(../public/assets/icons/slider-icon.svg);
        background-position: center;
        background-size: cover;
      }

      .range-slider {
        width: 100%;
        height: 2px;
        border-radius: 5px;
        background: #707070;
        outline: none;
        opacity: 1;
        -webkit-transition: 0.2s;
        transition: opacity 0.2s;
        cursor: pointer;
      }
    }

    .display-amount {
      display: flex;
      justify-content: space-between;
    }

    .tenure {
      display: flex;
      justify-content: space-between;

      div {
        border-radius: 25px;
        color: $gray;
        border: 2px solid $gray;
        padding: 10px 15px;
        font-size: 15px;
        transition: all 0.2s ease-in-out;
      }

      .selected {
        border-color: #ffffff;
        color: #111111;
        background-color: #ffffff;
      }
    }
  }
}