.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh);
  text-align: left;
  .error {
    color: lighten($color: red, $amount: 20);
  }
  .reg-form {
    width: 80%;
    .phone-input {
      margin-top: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #ffffff;
      width: 100%;
      height: 50px;
      padding: 0 10px;
      margin-bottom: 15px;
      border-radius: 25px;
      p {
        display: flex;
        align-items: center;
        width: 20%;
        padding-right: 20px;
        border-right: 1px solid #ffffff;
        height: 30px;
      }
      input {
        margin-left: 20px;
        width: 70%;
        height: 30px;
      }
    }
    .phone-password {
      margin: 15px 0;
      margin-top: 0;
      width: 100%;
      height: 50px;

      input {
        border-radius: 25px;
        height: 100%;
        width: 100%;
        background-color: #ffffff;
        color: #777777;
        text-align: center;
      }
      .pass-size {
        font-size: 30px;
      }
    }
    .terms {
      margin-top: 20px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      input {
        height: 25px;
        width: 25px;
        background-color: unset;
        margin-right: 15px;
        border-radius: 15px;
      }
      a {
        border-bottom: 1px solid #ffffff;
      }
    }
    .switch {
      margin-top: 30px;
      a {
        // font-size: 16px;
        margin-left: 5px;
        border-bottom: 1px solid #ffffff;
      }
    }
  }
}
