.pro{
background: green;
 background-repeat: no-repeat;
 z-index: 2;
 text-align: center;
background-position: center;
  background-size:cover;
  height: 280px;
}

.why{
	height: 50px;
	background-color: rgba(100, 168, 27, 0.9);
}
.card{
  height: 250px !important;
}
.row1{
	background: url("/images/row1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  height: 800px;
}

.mission_col{
 border: 3px solid #84E917;
	 padding: 20px 20px;
	 background: white;
	 margin-top: -100px;
	margin-left: -70px;
}

.row11{
	margin-top: 450px;
	margin-left: 460px;
}

.farmer01{
	margin-left: 400px;
	margin-top: 30px;
}
.row2{
	background: #EFEEEE;
}

.choose_Us{
	background: url("/images/choose.png");
	 background-repeat: no-repeat;
  	background-position: left;
  	float: right;
  	 height: 700px;

}

.chose_col1{
	 border: 1px solid light;
	 padding: 30px 30px;
	 background: #84E917;
}

.chose_col2{
	 border: 1px solid light;
	 padding: 30px 30px;
	 background: white;
}


.choose_border-col{
	margin-top: 150px;
	margin-left: -150px;
}
.GetInTouch{
	text-align: center;
	 border: 3px solid rgba(100, 168, 27, 0.9);
	 height: 300px;
	 width: 20px;
	 background-color: rgba(100, 168, 27, 0.9);
}

.touchbtn{
	  border: 0px solid white;
        background: white;
        color: #84E917;
        padding: 15px 30px;
        font-size: 22px;
        cursor: pointer;
        font-weight: bold;
        line-height: 32px;
        margin-top: 30px;
}

.footer{
	 border: 3px solid rgba(100, 168, 27, 0.9);
	 height: 100%;
	 width: 100%;
	 background-color: rgba(100, 168, 27, 0.9);
}

.footer1{
	background: #64A81B;
}
.attractive{
	background: #64A81B;
}

.home-newsletter .single {
max-width: 650px;
margin: 0 auto;
text-align: center;
position: relative;
z-index: 2;
}


.home-newsletter .single .newsLetter {
height: 50px;
background: #DEE9FF;
border-color: transparent;
border-radius: 20px 0 0 20px;
width: 350px;
}
.home-newsletter .single .newsLetter:focus {
box-shadow: none;
border-color: #243c4f;
}
.home-newsletter .single .btn {
height: 50px;
border-radius: 0 20px 20px 0;
background: #84E917;
color: #fff;
width: 200px;
margin-top: -4px;
}

.newsLetterEmail{
	margin-left: -419px;
}


@media (max-width: 979px) {
    .row11{
		margin-top: 350px;
		margin-left: 70%;
		display: hidden;
    }
	.mission_col{
	 border: 3px solid #84E917;
		 padding: 20px 20px;
		 background: white;
		 margin-top: -100px;
		margin-left: -20px;
	}
	.choose_border-col{
		margin-top: 150px;
		margin-left: -0px;
	}

.home-newsletter .single .newsLetter {
height: 50px;
background: #DEE9FF;
border-color: transparent;
border-radius: 20px 0 0 20px;
width: 250px;
}
.home-newsletter .single .newsLetter:focus {
box-shadow: none;
border-color: #243c4f;
}
.home-newsletter .single .btn {
height: 50px;
border-radius: 0 20px 20px 0;
background: #84E917;
color: #fff;
width: 100px;
margin-top: -4px;
}

	.newsLetterEmail{
	margin-left: -219px;
}

.what-we-offer-image{
	width: 95%;
}
.row11{
	margin-top: 450px;
	margin-left: 290px;
}
.row1{
	background: url("/images/row1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  height: 800px;
}

}
