.lender-dashboard {
  font-family: "Nunito", sans-serif;
}

.lender-dashboard h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 2em;
  font-weight: 500;
  line-height: 1.2;
}

.lender-dashboard main {
  padding: 0 7%;
}

main p.section-name {
  font-size: 1rem;
  line-height: 1.5;
}

.campaigns-container .campaign-item {
  width: 23.5%;
}
.lender-dashboard .campaign-item {
  color: #041f3e;
  background-color: #f7f8f8;
  border-radius: 8px;
}

.lender-dashboard .name-n-age p.name {
  margin-bottom: 8px !important;
  font-size: 25px;
  line-height: 1.2;
}

.lender-dashboard .name-n-age {
  margin-bottom: 12px;
}

.campaign-item p.loan-amount {
  font-size: 1rem;
  line-height: 1.5;
}

.progress-bar {
  background-color: #e57022;
}

.campaign-item span.current-amount,
.campaign-item span.amount-left {
  font-size: 10px;
  line-height: 10px;
}

.invest-button button {
  background-color: #2a6b37;
}

/* Investment portfolio */

.portfolio-unit {
  width: 74%;
}

.portfolio-chart {
  width: 24%;
}
.portfolio-unit .portfolio-item {
  background-color: #f7f8f8;
  width: 32%;
  border-radius: 8px;
}

/* Account Overview */

.thead-green {
  background-color: #2a6b37;
  color: #fff;
}
